<div class="bg-teal-500">
  <div class="flex items-center justify-center w-full border-b border-black text-white text-xl">
    <a class="flex items-center h-14 mr-8 hover:text-gray-300 duration-200" routerLink="users">Users</a>
    <a class="flex items-center h-14 mr-8 hover:text-gray-300 duration-200" routerLink="add">Add users</a>
    <a class="flex items-center h-14 mr-8 hover:text-gray-300 duration-200" routerLink="rabbit">Rabbit</a>
    <a class="flex items-center h-14 mr-8 hover:text-gray-300 duration-200" routerLink="dice">Dice</a>
    <a class="flex items-center h-14 mr-8 hover:text-gray-300 duration-200" routerLink="ville">Ville</a>
  </div>
</div>
