<div *ngIf="viewMode; else editable">
  <div *ngIf="currentUser.id">
    <h4>User</h4>
    <div>
      <label><strong>First Name:</strong></label> {{ currentUser.firstName }}
    </div>
    <div>
      <label><strong>Last Name:</strong></label>
      {{ currentUser.lastName }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentUser.isRabbit ? "Rabbit" : "Human" }}
    </div>

    <a
      routerLink="/tutorials/{{ currentUser.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentUser">
    <br/>
    <p>Please click on a User...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentUser.id" class="edit-form">
    <h4>User</h4>
    <form>
      <div>
        <label for="title">First Name</label>
        <input
          type="text"
          id="title"
          [(ngModel)]="currentUser.firstName"
          name="firstName"
        />
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          [(ngModel)]="currentUser.lastName"
          name="lastName"
        />
      </div>

      <div>
        <label><strong>Status:</strong></label>
        {{ currentUser.isRabbit ? "Rabbit" : "Human" }}
      </div>
    </form>

    <button
      *ngIf="currentUser.isRabbit"
      (click)="updateIsRabbit(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentUser.isRabbit"
      (click)="updateIsRabbit(true)"
    >
      Publish
    </button>

    <button (click)="deleteUser()">
      Delete
    </button>

    <button
      type="submit"
      (click)="updateUser()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser.id">
    <br/>
    <p>Cannot access this User...</p>
  </div>
</ng-template>
